form
    div.form-group.col-sm
        input#inputName.form-control(type="text" style="height:30px" placeholder="Nome do local")
    div.form-group.col-sm 
        h5 Tipo de local
    div.form-group.col-sm
        div.btn-group(role="group")
            button#addPoint.btn.btn-sm.btn-primary(type="button") Ponto
            button#addLine.btn.btn-sm.btn-primary(type="button") Linha
            button#addPoly.btn.btn-sm.btn-primary(type="button") Polígono
    div.form-group.col-sm 
        h5 Lista de atributos
    div.form-group.col-sm
        div.form-row
            div.col.p-1
                button#addAttribute.btn.btn-primary.btn-sm(type="button") Adicionar atributo
        table#attrTable.table.table-bordered.table-hover.table-sm.my-3(hidden)
            thead 
                tr 
                    th(scope="col") Atributo 
                    th(scope="col") Valor
                    th(scope="col") 
            tbody#featureAttrs
        div#attrInput.form-row.my-3(hidden)
            div.col 
                input#attrKey.form-control(type="text" placeholder="Chave" style="height: 25px")
            div.col 
                input#attrValue.form-control(type="text" placeholder="Valor" style="height: 25px")
        div#attrInputControls.form-row.justify-content-end(hidden)
            div.col-sm.p-0
                button#cancelAddProperty.btn.btn-sm(type="button") Cancelar
                button#addProperty.btn.btn-sm.btn-outline-primary.ml-1(type="button") Adicionar
    button#addFeature.ml-3.btn.btn-primary(type="submit") Adicionar local