form.mt-3.ml-1.mr-1
    div.form-group.col-sm
        input#inputName.form-control(type="text" style="height:30px" placeholder="Nome do local")
    div.form-group.col-sm.my-3.d-sm-flex.justify-content-center
        div.btn-group
            button#point.btn.theme-color.btn-sm(type="button") Ponto 
            button#lineString.btn.theme-color.btn-sm(type="button") Linha 
            button#polygon.btn.theme-color.btn-sm(type="button") Poligono
        button#addAttribute.btn.theme-color.btn-sm.ml-5(type="button") Atributos
            img.ml-1(src="/assets/plus.svg" alt="" width="15" height="15")
    div.form-group.col-sm
        table#attrTable.table.table-hover.table-sm.my-3(hidden)
            thead 
                tr 
                    th(scope="col" style="font-size: 14px") Atributo 
                    th(scope="col" style="font-size: 14px") Valor
                    th(scope="col" style="font-size: 14px") 
            tbody#featureAttrs
        div#attrInput.form-row.my-3(hidden)
            div.col 
                select#attrKey.form-control.form-control-sm
                    option(value="chave") Chave
            div.col 
                select#attrValue.form-control.form-control-sm
                    option(value="valor") Valor
        div#attrInputControls.form-row(hidden)
            div.col-sm.d-sm-flex.justify-content-end.mr-2
                button#cancelAddProperty.btn.btn-sm(type="button") Cancelar
                button#addProperty.btn.theme-color.btn-sm.ml-1(type="button") Adicionar
    div.form-group.col-sm.d-sm-flex.justify-content-end
        button#addFeature.ml-3.btn.theme-color(type="button") Adicionar local
