div#map.map(style="height: 100vh; width: 100%; z-index: 0")
div#drawTools(style = "position: absolute; left: 30px; bottom: 80px;")
    div.btn-group(role="group")
        button#undo.btn.btn-sm.btn-primary(type="button") Desfazer
        button#redo.btn.btn-sm.btn-primary(type="button") Refazer
        button#clear.btn.btn-sm.btn-primary(type="button") Limpar
        button#center.btn.btn-sm.btn-info(type="button") Localização atual
    div(style="background-color:white; opacity: 0.5")
        small#latitude
        small#longitude.ml-3
    
    