div#map.map(style="height: 80vh; width: 100%; z-index: 0")
div.row
    div.btn-group.col-sm.mt-1(role="group")
        button#undo.btn.btn-primary(type="button") Desfazer
        button#redo.btn.btn-primary(type="button") Refazer
        button#clear.btn.btn-primary(type="button") Limpar
        button#center.btn.btn-info(type="button") Localização atual
    
    