nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  a.navbar-brand(href='/') FGis
  button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
    span.navbar-toggler-icon
  div#navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item
        a.nav-link(href="/create") Criar Locais
      li.nav-item
        a.nav-link(href="/list") Listar Locais