extends layout

block content
    include includes/navbar.pug
    div.row.p-5.my-auto
        div.col-sm 
            include includes/map.pug
        div.col-sm
            include includes/featureForm.pug
    script(src='/javascripts/createMap.js')
    script(src='/javascripts/createForm.js')