extends layout

block content
  include includes/navbar.pug
  div.row.p-5.my-auto
    div.col-sm-4 
      h3 Lista de locais
      div#cardContainer.p-1(style="overflow-y: scroll; height: 500px")
    div.col-sm 
        include includes/map.pug
  script(src='/javascripts/create_map.js')
  script(src='/javascripts/list_features.js')